body {
    background-color: #F0F2F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #0056b3;
    text-align: center;
    font-weight: bold; /* توسيم العناوين */
}

.container {
    display: flex;
    flex-wrap: wrap; /* المرونة */
    justify-content: space-around;
    align-items: center; /* توسيم العناوين */
    margin: 20px auto;
    max-width: 1200px;
}

.form-section {
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(33% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.form-section:hover {
    transform: scale(1.02);
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #0056b3;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #0084b4;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 132, 180, 0.2);
}

button[type="submit"],
button[type="button"] {
    background-color: #0084b4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    width: calc(100% - 20px);
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #006494;
}

.footer {
    background-color: #002244;
    color: #ccc;
    padding: 20px;
    text-align: center;
    border-top: 3px solid #004880;
    margin-top: 30px;
}

.social-icon {
    display: flex;
    justify-content: center;
}

.social-icon a {
    color: #ccc;
    margin: 0 15px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icon a:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .form-section {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .form-section {
        width: calc(100% - 20px);
    }
}